.pio

# clangd / IDE-Cache (nicht ins Repo)
.clangd/
.cache/

# oft von PlatformIO/CMake erzeugt, sehr groß
compile_commands.json

.vscode/.browse.c_cpp_db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
